
{:paths ["src" "resources"]
 :tasks
 {main {:requires ([dotfiles.main])
          :task (apply dotfiles.main/-main *command-line-args*)}
  nrepl {:requires ([babashka.fs :as fs]
                    [babashka.nrepl.server :as srv])
         :task (do (srv/start-server! {:host "localhost"
                                       :port 1339})
                   (spit ".nrepl-port" "1339")
                   (-> (Runtime/getRuntime)
                       (.addShutdownHook
                        (Thread. (fn [] (fs/delete ".nrepl-port")))))
                   (deref (promise)))}
  test {:extra-paths ["test"]
        :extra-deps {io.github.cognitect-labs/test-runner
                     {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
        :task (exec 'cognitect.test-runner.api/test)
        :exec-args {:dirs ["test"]}
        :org.babashka/cli {:coerce {:nses [:symbol]
                                    :vars [:symbol]}}}}}

