{:links
 [{:path ".bash-preexec.sh"}
  {:path ".bash_profile"}
  {:path ".config"}
  {:path ".docker"}
  {:path ".git-completion.bash"}
  {:path ".hammerspoon"}
  {:path ".inputrc"}
  {:path ".spacemacs"}
  {:path ".vimrc"}
  {:path ".xvimrc"}
  {:path ".zshrc"}
  {:path "Library/Application Support/Code/User/settings.json"}
  {:path "Library/Application Support/lazygit/config.yml"}
  {:path "bin"}]}
